<div class="m-3 card border-0">
  <div class="card-body">
    <h5 class="card-title font-weight-bold">{{tarjeta.nombre}}</h5>
  </div>
  <img src="img/{{tarjeta.file}}" width="150" height="150" alt="{{tarjeta.file}}">
  <button type="button" class="btn btn-primary" id="{{tarjeta.nombre}}">Agregar a Carro Compras</button>
</div>