<div class="m-3 card border-0">
  <div class="card-body">
    <h5 class="card-title font-weight-bold">{{tarjeta.nombre}}</h5>
  </div>
  <img src="img/{{tarjeta.file}}" class="card-img-top" alt="{{tarjeta.file}}">
</div>